@import'./variables.styl';

.btn
  box-sizing border-box
  padding 18px 20px
  min-width 170px
  border 2px solid $green
  border-radius 5px
  text-transform uppercase
  font-family PT_Sans_bold
  cursor pointer
  &_green
    background-color $green
    color $white
  &_transparent
    background none
    color $green