@import'./variables.styl';

.buttons, .buttons2
  display flex
  justify-content space-between
  position absolute
  top 50%
  transform translateY(-50%)
  width 100%
  z-index 3

.btn
  padding 20px 15px
  border 1px solid $lil - 80%
  background-color $lil - 20%
  background: radial-gradient(ellipse at center, alpha($lil, 1) 0%, alpha($lil - 40%, 1) 100%)
  cursor pointer

  &:hover
    background: radial-gradient(ellipse at center, alpha($lil, 1) 0%, alpha($lil - 60%, 1) 100%)
    box-shadow 0 0 4px 4px $Gray + 60%

  &_gift
    padding 10px 25px
    border-radius 5px

  &_description
    padding 7px 25px

  &_description
    margin-right 10px

  &_rest
    margin-top 50px
    padding 10px 25px
    color $white
    font-size 1.2rem

.fa
  color $white
  font-size 1.4rem

.reserved
  .btn
    border 1px solid $lightGray
    background-color $Gray
    background: radial-gradient(ellipse at center, alpha($lightGray, 1) 0%, alpha($lightGray - 10%, 1) 100%)
    cursor pointer

    &:hover
      background: radial-gradient(ellipse at center, alpha($lightGray, 1) 0%, alpha($lightGray - 10%, 1) 100%)
      box-shadow 0 0 0 0 $Gray + 60%

@media screen and (max-width: $mobile)
  .buttons, .buttons2
    display none