@font-face
  font-family Fregat_regular
  font-style normal
  src url("./../assets/fonts/Fregat/Fregat_regular.otf")

@font-face
  font-family Fregat_bold
  font-style normal
  src url("./../assets/fonts/Fregat/Fregat_bold.otf")

@font-face
  font-family PT_Sans_bold
  font-style normal
  src url("./../assets/fonts/PT_Sans/PT_Sans-Web-Bold.ttf")

@font-face
  font-family PT_Sans_regular
  font-style normal
  src url("./../assets/fonts/PT_Sans/PT_Sans-Web-Regular.ttf")