@import'./variables.styl';

.gifts
  background-image url('./../assets/image/bg_9.jpg')
  background-repeat no-repeat
  background-size cover
  .page-content
    background-color $lil
    background linear-gradient(to bottom, alpha($lil + 50%, .9) 0%, alpha($lil + 90%, .5) 100%)
    box-shadow 0 0 10px 3px $Gray + 20%
    padding 63px 10px
    .head
      text-align center
      padding-bottom 40px
      > h2
        color $pink - 30%
    .card__buttons
      display flex
      justify-content center

