@import'./variables.styl';

.invited
  position relative
  padding 250px 10px
  .text
    text-align center
    color $lil + 10%
    > h2
      margin-bottom 50px
      font-size 2rem
    > h3
      margin-bottom 30px
      font-size 1.6rem

.invited.bg
  background-image url('./../assets/image/img_08.jpg')
