@import'./variables.styl';

.ivr-office
  padding 63px 0
  .page-content
    position relative
    .content-block
      &__header
        > h2
          color $green
          text-align center
          font-family Fregat_bold
          font-size 2rem
        > p
          margin-top 40px
          color $Gray
          text-align center
          line-height 1.5
          font-size 1.3rem
    .item
      margin 0
      display flex
      flex-direction column
      &__text
        display flex
        margin-top 10px
        > p
          font-size 0.75rem
          color $Gray
          line-height 1.5
        .fa-check
          margin-right 10px
          color $green
    .footer
      &__text
        margin-top 25px
        > p
          text-align center
          line-height 1.5
          font-size 0.9rem