@import'./variables.styl';

.lisa
  position fixed
  bottom 5%
  left 95%
  transform translate(-50%)
  z-index 5
  opacity 0.6
  &:hover
    opacity 1
  &__up
    position relative
    > img
      width 100px
    .fa-arrow-up
      display none
  &__text
    position absolute
    top 15px
    left -2px
    border 1px solid $lil - 70%
    border-radius 15px
    padding 3px 24px
    background-color #e7d5fb
    background: radial-gradient(ellipse at center, alpha($lil, 1) 0%, alpha($lil - 40%, 1) 100%)
    > p
      color $pink - 50%
      font-size .8rem

@media screen and (max-width: $mobile)
  .lisa
    left 90%
    &__up
      > img
        display none
      .fa-arrow-up
        display block
        padding 5px
        border 3px solid alpha($lil, .5)
        border-radius 50%
        font-size 2.5rem
    &__text
      display none
