@import'./variables.styl';

.bar
  border 1px solid red
  position fixed
  top 0
  left 0
  width 100%
  background-color $white
  .nav-bar__control
    display none
  .nav-bar
    display flex
    justify-content space-between
    padding 20px 40px
    text-transform uppercase
    &__logo
      > a
        > h1
          font-family Fregat_bold
          color $Gray
          text-transform uppercase
    &__link
      > ul
        display flex
        height 100%
        align-items center
        > li
          margin-right 3px
          > a
            > p
              color $Gray
              font-size 0.9rem