@import'./variables.styl';

.carousel
  margin 40px 0
  &-indicators
    .indicator
      border 1px solid $white
      border-radius 50%
      width 15px
      height 15px
      background none
    .indicator.active
      background-color $white
  &-item
    > img
      width 100%
      height auto
  .carousel-control-prev,
  .carousel-control-next
    position absolute
    top 50%
    transform translate(-50%, -50%)
    opacity 1
  .carousel-control-prev
    left -5%
  .carousel-control-next
    right -10%

.fa-angle-left,
.fa-angle-right
  font-size 2rem
  color $green
  &:hover
    color $white
